<?php $this->_title = 'Projet Plongée | Plongée' ?>

<h4 class="center margin-bottom"><strong><?= dateFormater($plongee[0]->getPloDate()).' | '.$plongee[0]->getPloMatMidSoiEntier() ?></strong></h4>
<section class="row">
    <div class="col xl3 s12 white z-depth-1 no-padding margin-bottom">
        <?php require_once('plongee_show_generale.html'); ?>
    </div>
    <div class="col xl8 s12 offset-xl1 white z-depth-1 no-padding">
        <div class="blue-grey darken-4 z-depth-1" style="overflow: hidden; line-height: 50px;">
            <div class="white-text center">GESTION DES PALANQUEES</div>
        </div>
        <?php require_once('plongee_show_palanquee.html') ?>
    </div>
</section>