<div class="container">
     <?php if(empty($plongeurs)): ?>
        <p class="red lighten-4 red-text text-darken-4 center" id="form-error">
            Aucun plongeur renseigné pour cette plongée.
        </p>
    <?php else: ?>
        <h4>Détails des plongeurs :</h4>
        <table>
            <thead>
            <tr>
                <td><h6>Nom</h6></td>
                <td><h6>Prénom</h6></td>
                <td><h6>Aptitudes</h6></td>
                <td><h6>Palanquée</h6></td>
            </tr>
            </thead>
            <tbody>
            <?php
            foreach($plongeurs as $plongeur ): ?>
            <tr>
                <td><?=$plongeur->getPersonne()[0]->getPerNom()?></td>
                <td><?=$plongeur->getPersonne()[0]->getPerPrenom()?></td>
                <td><?=$plongeur->getAptitude()[0]->getAptLibelle()?></td>
                <td></td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php endif; ?>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue modal-trigger pulse" href="#ajouterPLO">
        <i class="large material-icons">add</i>
    </a>
</div>
<?php require_once('view/palanquee/palanquee_plongeur_addform.html') ?>