<div class="container">
    <table class="striped">
        <tbody>
        <tr>
            <td>Date :</td>
            <td><?=$plongee[0]->getPloDate()?></td>
            <td>
                <a href="#" class="waves-effect waves-light btn yellow accent-4 tooltipped right modal-trigger" data-position="top" data-tooltip="Modification de la date">
                    <i class="material-icons white-text">edit</i>
                </a>
            </td>
        </tr>
        <tr>
            <td>Période de la journée :</td>
            <?php
                if($plongee[0]->getPloMatMidSoi()=='M')
                {
                    $mat='Matin';
                }
                elseif($plongee[0]->getPloMatMidSoi()=='A')
                {
                    $mat='Après-midi';
                }
                else
                {
                    $mat='Soir';
                }
            ?>
            <td><?=$mat?></td>
            <td>
                <a href="#" class="waves-effect waves-light btn yellow accent-4 tooltipped right modal-trigger" data-position="top" data-tooltip="Modification de la période">
                    <i class="material-icons white-text">edit</i>
                </a>
            </td>
        </tr>
        <tr>
            <td>Effectif des plongeurs :</td>
            <td><?=$plongee[0]->getPloEffectifPlongeurs()?></td>
            <td></td>
        </tr>
        <tr>
            <td>Effectif des palanquées :</td>
            <td><?=$plongee[0]->getPloNbPalanquees()?></td>
            <td></td>
        </tr>
        <tr>
            <td>Etat de la plongée :</td>
            <td><?=$plongee[0]->getPloEtat()?></td>
            <td></td>
        </tr>
        </tbody>
    </table><br>
    <a class="waves-effect waves-light btn #1b5e20 green darken-4 right"><i class="material-icons right">done</i>Valider</a><br>
</div>