<div class="container">
    <?php if (empty($bateau)): ?>
        <p class="red lighten-4 red-text text-darken-4 center" id="form-error">
            Aucune embarcation enregistrée.
        </p>
    <?php else: ?>
        <h4>Détails des embarcations :</h4>
        <table>
            <thead>
            <tr>
                <td><h6>Nom des embarcations</h6></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?=$bateau[0]->getEmbNom()?></td>
                <td>
                    <?php
                        if($plongee[0]->getPloEtat()!="Validee")
                        {
                            echo '<a href="#modal1" class="waves-effect waves-light btn yellow accent-4 tooltipped right modal-trigger" data-position="top" data-tooltip="Modification de l'embarcation">
                                <i class="material-icons white-text">edit</i>
                            </a>';
                        }
                    ?>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Modification du site</h4>
                <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">
                    <select name="embar">
                        <?php
                            foreach($allEmbarcation as $embar)
                            {
                                echo "<option value='".$embar->getEmbNum()."'>".$embar->getEmbNom()."</option>";
                            }
                        ?>
                    </select>
                    <button type="submit" class="waves-effect waves-light btn" value="submit" name="submitEmbar">Enregistrer</button>
                </form>
            </div>
        </div>
    <?php endif; ?>
</div>