<div class="container">
    <?php if (empty($plongeur)): ?>
        <p class="red lighten-4 red-text text-darken-4 center" id="form-error">
            Aucun plongeur renseigné pour cette plongée.
        </p>
    <?php else: ?>
        <h4>Détails des plongeurs :</h4>
        <table>
            <thead>
            <tr>
                <td><h6>Nom</h6></td>
                <td><h6>Prénom</h6></td>
                <td><h6>Aptitudes :</h6></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?=$plongeur[0]->getPersonne()[0]->getPerNom()?></td>
                <td><?=$plongeur[0]->getPersonne()[0]->getPerPrenom()?></td>
                <td><?=$plongeur[0]->getAptitude()[0]->getAptLibelle()?></td>
            </tr>
            </tbody>
        </table>
    <?php endif; ?>
</div>