<section>
    <h3 class="center-align">Plongée du <?php echo $plongee[0]->getPloDate().($plongee[0]->getPloMatMidSoi() == 'M' ? ' Matin' : ' Après-midi') ?></h3>
    <div class="white rounded z-depth-4 margin-bottom rounded">
        <div class="container">
            <table>
                <tbody>
                <tr>
                    <td>Etat de la plongée : </td>
                    <td><?php echo $plongee[0]->getPloEtat()?></td>
                    <td></td>
                    <td>
                        <a href="#modalSite" class="waves-effect waves-light btn tooltipped right #1b5e20 green darken-4" data-position="top" data-tooltip="Modifier l'état de la plongée">
                            <i class="material-icons left">edit</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Nom du site : </td>
                    <td><?php echo $plongee[0]->getSite()[0]->getSitLocalisation()?></td>
                    <td>
                        <a href="#modalSite" class="waves-effect waves-light btn yellow accent-4 tooltipped right modal-trigger" data-position="top" data-tooltip="Détails du site">
                            <i class="material-icons left">remove_red_eye</i>
                        </a>
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn tooltipped right #1b5e20 green darken-4" data-position="top" data-tooltip="Modifier les informations du site">
                            <i class="material-icons left">edit</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Effectif des plongeurs : </td>
                    <td><?php echo $plongee[0]->getPloEffectifPlongeurs()?></td>
                    <td>
                        <a  href="#modalPlongeur" class="waves-effect waves-light btn yellow accent-4 tooltipped right modal-trigger" data-position="top" data-tooltip="Détails des effectifs">
                            <i class="material-icons left">remove_red_eye</i>
                        </a>
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn tooltipped right #1b5e20 green darken-4" data-position="top" data-tooltip="Modifier les plongeurs">
                            <i class="material-icons left">edit</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Nombre de palanquées : </td>
                    <td><?php echo $plongee[0]->getPloNbPalanquees()?></td>
                    <td>
                        <a href="#modalPalanquees" class="waves-effect waves-light btn yellow accent-4 tooltipped right modal-trigger" data-position="top" data-tooltip="Détails des palanquées">
                            <i class="material-icons left">remove_red_eye</i>
                        </a>
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn #1b5e20 green darken-4 tooltipped right" data-position="top" data-tooltip="Modifier les palanquées">
                            <i class="material-icons left">edit</i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Nombre de bateaux : </td>
                    <td><?php echo $plongee[0]->getPloEffectifBateau()?></td>
                    <td>
                        <a href="#modalBateaux" class="waves-effect waves-light btn yellow accent-4 tooltipped right modal-trigger" data-position="top" data-tooltip="Détails des bateaux">
                            <i class="material-icons left">remove_red_eye</i>
                        </a>
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn #1b5e20 green darken-4 tooltipped right" data-position="top" data-tooltip="Modifier les informations de l'embarcation">
                            <i class="material-icons left">edit</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalSite" class="modal">
        <div class="modal-content">
            <h4>Détails du site :</h4>
            <table>
                <thead>
                <tr>
                    <td>Nom du site</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><?=$site[0]->getSitNom()?></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalPlongeur" class="modal">
        <div class="modal-content">
            <h4>Détails des plongeurs :</h4>
            <table>
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Aptitudes :</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><?=$plongeur[0]->getPersonne()[0]->getPerNom()?></td>
                    <td><?=$plongeur[0]->getPersonne()[0]->getPerPrenom()?></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalPalanquees" class="modal">
        <div class="modal-content">
            <h4>Détails des palanquées :</h4>
            <table>
                <thead>
                    <tr>
                        <td>Numéro de palanquée</td>
                        <td>Profondeur maximum</td>
                        <td>Profondeur réelle</td>
                        <td>Heure d'immersion</td>
                        <td>Heure de sortie</td>
                        <td>Durée maximum</td>
                        <td>???</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><?=$palanquee[0]->getPalNum()?></td>
                        <td><?=$palanquee[0]->getPalProfondeurMax()?></td>
                        <td><?=$palanquee[0]->getPalProfondeurReelle()?></td>
                        <td><?=$palanquee[0]->getPalHeureImmersion()?></td>
                        <td><?=$palanquee[0]->getPalHeureSortieEau()?></td>
                        <td><?=$palanquee[0]->getPalDureeMax()?></td>
                        <td><?=$palanquee[0]->getPalDureeFond()?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalBateaux" class="modal">
        <div class="modal-content">
            <h4>Détails des bateaux :</h4>
            <table>
                <thead>
                    <tr>
                        <td>Nom des embarcations</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><?=$bateau[0]->getEmbNom()?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>