<div class="container">
    <?php if (empty($site)): ?>
        <p class="red lighten-4 red-text text-darken-4 center" id="form-error">
            Aucun site renseigné.
        </p>
    <?php else: ?>
        <h4>Détails du site :</h4>
        <table>
            <thead>
            <tr>
                <td><h6>Nom du site</h6></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?=$site[0]->getSitNom()?></td>
                <td>
                    <a href="#modal2" class="waves-effect waves-light btn yellow accent-4 tooltipped right modal-trigger" data-position="top" data-tooltip="Modification du site">
                        <i class="material-icons white-text">edit</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Modification du site</h4>
                <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">
                    <select name="siteNum">
                        <?php
                        foreach($allSite as $site)
                        {
                            echo "<option value='".$site->getSitNum()."'>".$site->getSitNom()."</option>";
                        }
                        ?>
                    </select>
                    <button type="submit" class="waves-effect waves-light btn" value="submit" name="submitSite">Enregistrer</button>
                </form>
            </div>
        </div>
    <?php endif; ?>
</div>

