<?php $this->_title = 'Sub\'Alligator | Plongeur'; ?>

<section class="white z-depth-4 rounded center">
    <div class="container">
        <h3>Liste des plongeurs<small>Affichés : <?= count((is_null($searchedPlongeurs) ? $allPlongeurs : $searchedPlongeurs)) ?></small></h3>

        <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">
            <div class="row">
                <div class="input-field col xl4 m6 s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search1" class="search" name="searchNom" value="<?= (isset($_POST['searchNom']) ? $_POST['searchNom'] : '') ?>" >
                    <label for="search1">Rechercher par NOM...</label>
                </div>
                <div class="input-field col xl4 m6 s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search2" class="search" name="searchPrenom" value="<?= (isset($_POST['searchPrenom']) ? $_POST['searchPrenom'] : '') ?>" >
                    <label for="search2">Rechercher par Prenom...</label>
                </div>
                <p class="col xl4 s12" style="line-height: 60px;">
                    <label>
                        <input type="checkbox" class="filled-in" name="searchInactive" <?= (isset($_POST['searchInactive']) ? 'checked' : '') ?>/>
                        <span>Afficher les inactifs</span>
                    </label>
                </p>
            </div>
            <button name="search" id="search" class="hiddendiv btn blue waves-effect waves-light"><i class="material-icons">send</i></button>
        </form>

        <div class="row">
            <div class="col s12">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="center">ID</th>
                            <th class="center">Nom</th>
                            <th class="center">Prénom</th>
                            <th class="center">Aptitude</th>
                            <th class="center">Actif</th>
                            <th class="center">Gestion</th>
                        </tr>
                    </thead>

                    <tbody>
                        <?php foreach((is_null($searchedPlongeurs) ? $allPlongeurs : $searchedPlongeurs) as $plongeur): ?>
                        <tr>
                            <td class="center"><?= $plongeur->getPerNum() ?></td>
                            <td class="center"><?= $plongeur->getPersonne()[0]->getPerNom() ?></td>
                            <td class="center"><?= $plongeur->getPersonne()[0]->getPerPrenom() ?></td>
                            <td class="center"><?= $plongeur->getAptitude()[0]->getAptLibelle() ?></td>
                            <td class="center"><?php  if($plongeur->getPersonne()[0]->getPerActive()==1) echo "Oui"; else echo "Non"; ?></td>
                            <td class="center">
                                <a href="plongeur/edit/&per_num=<?= $plongeur->getPerNum()?>" class="waves-effect waves-light btn yellow accent-4 tooltipped" data-position="top" data-tooltip="Détails du plongeur">
                                    <i class="material-icons white-text">remove_red_eye</i>
                                </a>
                                <a href="plongeur/delete/&per_num=<?= $plongeur->getPerNum()?>" class="btn red darken-4 waves-effect waves-light tooltipped" data-position="top" data-tooltip="Supprimer le plongeur">
                                    <i class="material-icons white-text">delete</i>
                                </a>

                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue modal-trigger pulse" href="#ajouter">
                <i class="large material-icons">add</i>
            </a>
        </div>

        <?php require_once('plongeur_addform.html') ?>
    </div>
</section>

<script>
    $(document).ready(function(){
        $('input#search1').autocomplete({
            data: {
                <?php
                    foreach($allPlongeurs as $plongeur)
                        echo '"'.$plongeur->getPersonne()[0]->getPerNom().'" : null,';
                ?>
            },
        });

        $('input#search2').autocomplete({
            data: {
                <?php
                    foreach($allPlongeurs as $plongeur)
                        echo '"'.$plongeur->getPersonne()[0]->getPerPrenom().'" : null,';
                ?>
            },
        });
    });
</script>

<script type="text/javascript" src="../../public/assets/js/searchBar.js"></script>
