<form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">
    <label>Nom : <input type="text" id="nom" name="nom" placeholder="Saisir le nom" value="<?php verifierEntree('nom')?>"></label>
    <label>Prenom : <input type="text" id="prenom" name="prenom" placeholder="Saisir le prenom" value="<?php verifierEntree('prenom')?>"></label>
    <label>
        <select id="competence" name="competence">
            <?php
                    $req="select * from PLO_APTITUDE";
                    $tab = [];
                    $db->LireDonneesPDO2($req,$tab);
                    foreach($tab as $value)
                    {
                        echo "<option>".$value['APT_LIBELLE']."</option>";
                    }
            ?>
        </select>
    </label>
    <Button class="waves-effect waves-light btn" type="submit" onclick="verifier()" >Enregistrer</Button>
</form>
<script type="text/javascript" src="assets/js/personne_entree.js"></script>
