<p class="red lighten-4 red-text text-darken-4 center" id="form-error">

</p>
<form action="<?php $_SERVER['PHP_SELF'] ?>" method="post" class="no-padding ">
    <div class="row">
        <label class="col s6">
            Nom
            <input type="text" id="nom" name="nom" value="<?= ($button == 'EDITER' ? $plongeur[0]->getPersonne()[0]->getPerNom() : '') ?>" autofocus>
        </label>

        <label class="col s6">
            Prénom
            <input type="text" id="prenom" name="prenom" value="<?= ($button == 'EDITER' ? $plongeur[0]->getPersonne()[0]->getPerPrenom() : '') ?>">
        </label>
    </div>

    <div class="row">
        <label class="col s6 margin-top">

            <select name="aptitude" id="aptitude">
                <?php
                foreach ($allAptitudes as $aptitude) {
                    echo '<option value="'. $aptitude->getAptCode() .'" '. (isset($plongeur) ? ($aptitude->getAptCode() == $plongeur[0]->getAptCode() ? 'selected' : '') : '') .'>'. $aptitude->getAptLibelle() .'</option>';
                }
                ?>
            </select>
        </label>
        <label class="col s6 margin-bottom margin-top">
            <input type="text" class="datepicker" name="certificat" id="certificat" value="<?= (isset($_POST['certificat']) ? $_POST['certificat'] : '') ?>">
        </label>
    </div>

    <div class="row">
        <p class="col s6">
            <label>
                <input class="filled-in" name="securite" type="checkbox" value="securite" <?php if($securite) echo 'checked'; ?> />
                <span>Securité</span>
            </label>
        </p>
        <p class="col s6">
            <label>
                <input class="filled-in" name="directeur" type="checkbox" value="directeur" <?php if($directeur) echo 'checked'; ?> />
                <span>Directeur</span>
            </label>
        </p>
    </div>



    <div class="row">
        <button class="btn waves-effect waves-light col s12 margin-bottom <?= ($button == 'EDITER' ? 'yellow darken-4' : 'blue' ) ?>" name="submit<?= $button ?>"><?= $button ?> UN PLONGEUR</button>
    </div>
</form>

<script type="text/javascript" src="../../public/assets/js/personne_entree.js"></script>
<script type="text/javascript" src="../../public/assets/js/datePicker.js"></script>