<div id="ajouter" class="modal">
    <div class="modal-content center">
        <h4>Ajouter un plongeur</h4>
        <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">
            <div class="row">
                <label class="col s6">
                    Nom
                    <input type="text" id="nom" name="nom" autofocus>
                </label>
                <label class="col s6">
                    Prénom
                    <input type="text" id="prenom" name="prenom">
                </label>
            </div>

            <label>
                <select name="aptitude" id="aptitude">
                    <?php
                    foreach ($allAptitudes as $aptitude) {
                        echo '<option value="'. $aptitude->getAptCode() .'" >'. $aptitude->getAptLibelle() .'</option>';
                    }
                    ?>
                </select>
            </label>
            <div class="row">
                <button class="btn blue waves-effect waves-light col s12" name="submit">CREER</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="../../public/assets/js/personne_entree.js"></script>