<?php $this->_title = 'Projet Plongée | Plongeur'; ?>

<?php require_once('plongeur_addform.html') ?>

<section class="white z-depth-4 rounded center">
    <div class="container">
        <h3>Liste des plongeurs<small>Affichés : <?= count((is_null($searchedPlongeurs) ? $allPlongeurs : $searchedPlongeurs)) ?></small></h3>

            <a class="btn  blue modal-trigger pulse" href="#ajouter">
                Ajouter plongeur
            </a>

        <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">
            <div class="row">
                <div class="input-field col xl4 m6 s12">
                    <i class="material-icons prefix">search</i>
                    <input onclick="isFocused('search1')" type="text" id="search1" class="search" name="searchNom" value="<?= (isset($_POST['searchNom']) ? $_POST['searchNom'] : '') ?>" <?= isset($_POST["focused"]) ? ($_POST["focused"] == 'search1' ? 'autofocus' : '') : '' ?>>
                    <label for="search1">Rechercher par NOM...</label>
                </div>
                <div class="input-field col xl4 m6 s12">
                    <i class="material-icons prefix">search</i>
                    <input onclick="isFocused('search2')" type="text" id="search2" class="search" name="searchPrenom" value="<?= (isset($_POST['searchPrenom']) ? $_POST['searchPrenom'] : '') ?>" <?= isset($_POST["focused"]) ? ($_POST["focused"] == 'search2' ? 'autofocus' : '') : '' ?>>
                    <label for="search2">Rechercher par Prenom...</label>
                </div>
                <p class="col xl4 s12" style="line-height: 60px;">
                    <label>
                        <input onclick="clickFormButton()" type="checkbox" class="filled-in" name="searchInactive" <?= (isset($_POST['searchInactive']) ? 'checked' : '') ?>/>
                        <span>Afficher les inactifs</span>
                    </label>
                </p>
            </div>
            <input type="hidden" value="<?= isset($_POST["focused"]) ? $_POST["focused"] : '' ?>" id="focused" name="focused">
            <button name="search" id="search" class="hiddendiv btn blue waves-effect waves-light"><i class="material-icons">send</i></button>
        </form>
        <?php if(isset($_POST['errorPlongeurAdd'])): ?>
            <p class="red lighten-4 red-text text-darken-4 center" id="pal-edit-error">
                <?= $_POST['errorPlongeurAdd'] ?>
            </p>
        <?php endif; ?>

        <div class="row">
            <div class="col s12">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="center">Rôle</th>
                            <th class="center">Nom</th>
                            <th class="center">Prénom</th>
                            <th class="center">Aptitude</th>
                            <th class="center">Certif. médical</th>
                            <th class="center">Actif</th>
                            <th class="center">Gestion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach((is_null($searchedPlongeurs) ? $allPlongeurs : $searchedPlongeurs) as $plongeur): ?>
                        <tr>
                            <td class="center">
                                <?php
                                    if($plongeurManager->isDirector($plongeur->getPerNum()))
                                        echo "directeur<br>";
                                    if($plongeurManager->isSecurity($plongeur->getPerNum()))
                                        echo "sécurité de surface";
                                ?>
                            </td>
                            <td class="center"><?= $plongeur->getPersonne()[0]->getPerNom() ?></td>
                            <td class="center"><?= $plongeur->getPersonne()[0]->getPerPrenom() ?></td>
                            <td class="center"><?= $plongeur->getAptitude()[0]->getAptLibelle() ?></td>
                            <td class="center <?= (date('Y-m-d', strtotime('+1 year',strtotime($plongeur->getPersonne()[0]->getPerDateCertifMed()))) < $dateOfToday ? 'red lighten-3 red-text text-darken-4' : '') ?>"><?= $plongeur->getPersonne()[0]->getPerDateCertifMed() ?></td>
                            <td class="center"><?php if($plongeur->getPersonne()[0]->getPerActive()==1) echo "Oui"; else echo "Non"; ?></td>
                            <td class="center">
                                <a href="plongeur/show/&per_num=<?= $plongeur->getPerNum()?>" class="waves-effect waves-light btn yellow accent-4 tooltipped" data-position="top" data-tooltip="Détails du plongeur">
                                    <i class="material-icons white-text">remove_red_eye</i>
                                </a>
                                <a href="plongeur/delete/&per_num=<?= $plongeur->getPerNum()?>" class="btn red darken-4 waves-effect waves-light tooltipped" data-position="top" data-tooltip="Supprimer le plongeur">
                                    <i class="material-icons white-text">delete</i>
                                </a>

                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue modal-trigger pulse" href="#ajouter">
                <i class="large material-icons">add</i>
            </a>
        </div>
    </div>
</section>

<script>
    function isFocused(div) {
        document.getElementById("focused").value = div;
    }

    $(document).ready(function(){
        $('input#search1').autocomplete({
            data: {
                <?php
                    foreach($allPlongeurs as $plongeur)
                        echo '"'.$plongeur->getPersonne()[0]->getPerNom().'" : null,';
                ?>
            },
        });

        $('input#search2').autocomplete({
            data: {
                <?php
                    foreach($allPlongeurs as $plongeur)
                        echo '"'.$plongeur->getPersonne()[0]->getPerPrenom().'" : null,';
                ?>
            },
        });
    });
</script>

<script type="text/javascript" src="../../public/assets/js/searchBar.js"></script>
