<?php $this->_title = 'Sub\'Alligator | '.$plongeur[0]->getPersonne()[0]->getPerNom().' '.$plongeur[0]->getPersonne()[0]->getPerPrenom() ?>

<section class="row">
    <?php require_once('plongeur_show_user_info.html') ?>
    <div class="col xl9 s12">
        <ul class="tabs blue-grey darken-4 z-depth-1">
            <li class="tab col s4"><a class="active white-text" href="#page1">Plongées</a></li>
            <li class="tab col s4"><a href="#page2" class="white-text">Aptitudes</a></li>
            <li class="tab col s4"><a href="#page3" class="white-text">Editer</a></li>
        </ul>
        <div id="page1" class="col s12 white z-depth-1"><?php require_once('plongeur_show_plongees.html') ?></div>
        <div id="page2" class="col s12 white z-depth-1"><?php require_once('plongeur_show_aptitudes.html') ?></div><div id="page3" class="col s12 white z-depth-1"><?php require_once('plongeur_show_edit.html') ?></div>
    </div>
</section>