<div class="col xl3 s12">
    <div class="card white">
        <div class="card-image">
            <img src="/public/media/avatar/default.jpg" alt="Image de profile">
            <span class="col s12 card-title blue-grey darken-4 center-align"><strong><?= $plongeur[0]->getPersonne()[0]->getPerNom().' '.$plongeur[0]->getPersonne()[0]->getPerPrenom() ?></strong></span>
        </div>
        <div class="card-content">
            <ul>
                <li><strong>Rôle.s :</strong>
                    <ul>
                        ...
                    </ul>
                </li>
                <li><strong>nbPlongées :</strong> <?= count($allPalanquees); ?></li>
                <li><strong>nbAptitudes :</strong> <?= count($aptitudes) ?></li>
                <li><strong>Certificat médical :</strong> <?= $plongeur[0]->getPersonne()[0]->getPerDateCertifMed() ?></li>
            </ul>
        </div>
    </div>
</div>