
<div class="container">
    <table class="centered white z-depth-1 margin-top margin-bottom">
        <thead class="blue-grey darken-4">
        <tr>
            <th class="white-text">Numéro</th>
            <th class="white-text">Date</th>
            <th class="white-text">Matin / Midi / Soir</th>
            <th class="white-text">Action</th>
        </tr>
        </thead>
        <tbody>
        <!--
        <tr>
            <td>{{ activite.actDate }}</td>
            <td>{{ activite.actDescription }}</td>
        </tr>
        -->
        </tbody>
    </table>
</div>