<?php $this->_title = 'Sub\'Alligator | Plongeur'; ?>

<section class="white z-depth-4 rounded center">
    <div class="container">
        <p class="red lighten-4 red-text text-darken-4 center" id="form-error">

        </p>
        <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">

            <div class="row">
                <label class="col s6">
                    Nom
                    <input type="text" id="nom" name="nom" value="<?= $plongeur[0]->getPersonne()[0]->getPerNom() ?>" autofocus>
                </label>

                <label class="col s6">
                    Prénom
                    <input type="text" id="prenom" name="prenom" value="<?= $plongeur[0]->getPersonne()[0]->getPerPrenom() ?>">
                </label>
            </div>

            <div class="row">
                <label class="col s12 big-margin-bottom">
                    <select name="aptitude" id="aptitude">
                        <?php
                            foreach ($allAptitudes as $aptitude) {
                                echo '<option value="'. $aptitude->getAptCode() .'" >'. $aptitude->getAptLibelle() .'</option>';
                        }
                        ?>
                    </select>
                </label>
            </div>

            <div class="row">
                <button class="btn yellow darken-4 waves-effect waves-light col s12 margin-bottom" name="submit">MODIFIER</button>
            </div>
        </form>
    </div>
</section>



<script type="text/javascript" src="../../../public/assets/js/personne_entree.js"></script>