<section class="row">
    <?php require_once('plongeur_show_user_info.html') ?>
    <div class="col xl9 s12">
        <ul class="tabs blue-grey darken-4 z-depth-1">
            <li class="tab col s3"><a class="active" href="#page1">Plongées</a></li>
            <li class="tab col s3"><a href="#page2">Aptitudes</a></li>
            <li class="tab col s3"><a href="#page4">Editer</a></li>
        </ul>
        <div id="page1" class="col s12 blue-grey darken-2 z-depth-1"><?php require_once('plongeur_show_plongees.html') ?></div>
        <div id="page2" class="col s12 blue-grey darken-2 z-depth-1"><?php require_once('plongeur_show_aptitudes.html') ?></div>
        <div id="page4" class="col s12 blue-grey darken-2 z-depth-1"><?php require_once('plongeur_show_edit.html') ?></div>
    </div>
</section>