
<div class="container">
    <h4>Aptitudes validés</h4>
    <table class="centered white z-depth-1 margin-top margin-bottom">
        <thead class="blue-grey darken-4">
        <tr>
            <th class="white-text">AptCode</th>
            <th class="white-text">Libellé<th>
        </tr>
        </thead>
        <tbody>
         <?php foreach($aptitudes as $aptitude): ?>
            <tr>
                <td><?= $aptitude['APT_CODE']?></td>
                <td><?= $aptitude['APT_LIBELLE']?></td>
            </tr>
         <?php endforeach; ?>
        </tbody>
    </table>
</div>