
<div class="col xl3 s12">
    <div class="card blue-grey darken-2">
        <div class="card-image">
            <span class="col s12 card-title blue-grey darken-4 center-align"><strong><?= $plongeur[0]->getPersonne()[0]->getPerNom().' '.$plongeur[0]->getPersonne()[0]->getPerPrenom() ?></strong></span>
        </div>
        <div class="card-content">
            <ul>
                <li><strong>Rôle.s :</strong>
                    <ul>
                        ...
                    </ul>
                </li>
                <li><strong>Inscription :</strong> {{ user.utiInscriptionString }}</li>
                <li><strong>Tokens :</strong> {{ user.utiTokens }}</li>
                <li><strong>Dernière connexion :</strong> {{ user.utiConnecte ? 'Connecté' : user.utiDerniereSessionString}}</li>
                <li><strong>Nationalité :</strong> {{ user.lanId }}</li>
            </ul>
        </div>
    </div>
</div>