<?php $this->_title = 'Projet Plongée | Site'; ?>

<section class="white z-depth-4 rounded center">
    <div class="container">
        <h3>Liste des sites</h3>
        <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search1" class="search" name="searchNom" value="<?= (isset($_POST['searchNom']) ? $_POST['searchNom'] : '') ?>" autofocus>
                    <label for="search1">Rechercher par NOM...</label>
                </div>
            </div>
            <button name="search" id="search" class="hiddendiv btn blue waves-effect waves-light"><i class="material-icons">send</i></button>
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th class="center">Numéro</th>
                    <th class="center">Nom</th>
                    <th class="center">Localisation</th>
                    <th class="center">Gestion</th>
                </tr>
            </thead>

            <tbody>
                <?php foreach((is_null($searchedSites) ? $allSites : $searchedSites) as $site): ?>
                    <tr>
                        <td class="center"><?= $site->getSitNum() ?></td>
                        <td class="center"><?= $site->getSitNom() ?></td>
                        <td class="center"><?= $site->getSitLocalisation() ?></td>
                        <td class="center">
                            <a href="site/edit/&sit_num=<?= $site->getSitNum()?>" class="waves-effect waves-light btn yellow accent-4 tooltipped" data-position="top" data-tooltip="Détails de la plongée">
                                <i class="material-icons white-text">remove_red_eye</i>
                            </a>
                            <a href="site/delete/&sit_num=<?= $site->getSitNum()?>" class="btn red darken-4 waves-effect waves-light tooltipped" data-position="top" data-tooltip="Supprimer le plongeur">
                                <i class="material-icons white-text">delete</i>
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue modal-trigger pulse" href="#ajouter">
                <i class="large material-icons">add</i>
            </a>
        </div>

        <?php require_once('site_addform.html') ?>
    </div>
</section>

<script>
    $(document).ready(function(){
        $('input.search').autocomplete({
            data: {
                <?php
                    foreach($allSites as $site)
                        echo '"'.$site->getSitNom().'" : null,';
                ?>
            },
        });
    });
</script>

<script type="text/javascript" src="../../public/assets/js/searchBar.js"></script>