<?php $this->_title = 'Sub\'Alligator | Plongée'; ?>

<section class="white z-depth-4 rounded center">
    <div class="container">
        <h3>Liste des plongées<small>Affichées : <?= count((is_null($searchedPlongees) ? $allPlongees : $searchedPlongees)) ?></small></h3>
        <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post" class="no-padding margin-top">
            <div class="row">
                <div class="input-field col m5 s12">
                    <input type="text" class="datepicker" name="searchDate" id="search1" value="<?= (isset($_POST['searchDate']) ? $_POST['searchDate'] : '') ?>">
                    <label for="search1">Rechercher par DATE...</label>
                </div>
                <div class="input-field col m5 s12 offset-m1">
                    <select id="search2" name="searchPeriode">
                        <option value="" <?= (!isset($_POST['searchNom']) ? 'selected' : (is_empty($_POST['searchPeriode'])) ? 'selected' : '') ?>>Tous</option>
                        <option value="M" <?= (!isset($_POST['searchPeriode']) ? '' : ($_POST['searchPeriode'] == 'M') ? 'selected' : '') ?>>Matin</option>
                        <option value="A" <?= (!isset($_POST['searchPeriode']) ? '' : ($_POST['searchPeriode'] == 'A') ? 'selected' : '') ?>>Après-midi</option>
                    </select>
                    <label for="search2">Matin ou Après-midi ?</label>
                </div>
                <button name="search" id="search" class="col m1 s12 btn blue waves-effect waves-light" style="height: 60px"><i class="material-icons">send</i></button>
            </div>
        </form>
        <div class="row">
            <div class="col s12">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="center">Date</th>
                            <th class="center">Période</th>
                            <th class="center">Site</th>
                            <th class="center">Gestion</th>
                        </tr>
                    </thead>

                    <tbody>
                    <?php foreach((is_null($searchedPlongees) ? $allPlongees : $searchedPlongees) as $plongee): ?>
                    <tr>
                        <td class="center"><?= $plongee->getPloDate() ?></td>
                        <td class="center"><?= $plongee->getPloMatMidSoi() ?></td>
                        <td class="center"><?= $plongee->getSite()[0]->getSitNom() ?></td>
                        <td class="center">
                            <a href="plongee/show/&plo_date=<?= $plongee->getPloDate() ?>&plo_mat_mid_soi=<?= $plongee->getPloMatMidSoi() ?>" class="waves-effect waves-light btn yellow accent-4 tooltipped" data-position="top" data-tooltip="Détails de la plongée">
                                <i class="material-icons white-text">remove_red_eye</i>
                            </a>
                            <a href="plongee/delete/&plo_date=<?= $plongee->getPloDate() ?>&plo_mat_mid_soi=<?= $plongee->getPloMatMidSoi() ?>" class="btn red darken-4 waves-effect waves-light tooltipped" data-position="top" data-tooltip="Détails de la plongée">
                                <i class="material-icons white-text">delete</i>
                            </a>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue modal-trigger pulse" href="#ajouter">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <?php require_once('view/plongee/plongee_addform.html') ?>
</section>

<script type="text/javascript" src="../../public/assets/js/datePicker.js"></script>