<?php $this->_title = 'Sub\'Alligator | Plongée'; ?>

<section class="white z-depth-4 rounded center">
    <div class="container">
        <h3>Liste des plongées</h3>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input type="text" id="autocomplete-input" class="search">
                <label for="autocomplete-input">Recherchez avec mot clé...</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="center">Date</th>
                            <th class="center">Période</th>
                            <th class="center">Site</th>
                            <th class="center">Gestion</th>
                        </tr>
                    </thead>

                    <tbody>
                    <?php foreach($allPlongees as $plongee): ?>
                    <tr>
                        <td class="center"><?= $plongee->getPloDate() ?></td>
                        <td class="center"><?= $plongee->getPloMatinApresmidi() ?></td>
                        <td class="center"><?= $plongee->getSite()[0]->getSitNom() ?></td>
                        <td class="center">
                            <a href="plongee/show/&plo_date=<?= $plongee->getPloDate() ?>&PLO_MAT_MID_SOI=<?= $plongee->getPloMatinApresmidi() ?>" class="waves-effect waves-light btn yellow accent-4 tooltipped" data-position="top" data-tooltip="Détails de la plongée">
                                <i class="material-icons white-text">remove_red_eye</i>
                            </a>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue modal-trigger pulse" href="#ajouter">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <?php //require_once('plongee_addform.html') ?>
</section>

<script>
    $(document).ready(function(){
        $('input.search').autocomplete({
            data: {
                <?php
                    foreach($allPlongees as $plongee)
                        echo '"'.$plongee->getPloDate().'" : null,';
                ?>
            },
        });
    });
</script>
