<div id="ajouter" class="modal rounded">
    <div class="modal-content center">
        <h4>Ajouter une plongée</h4>
        <form action="<?php $_SERVER['PHP_SELF'] ?>"  method="post" class="no-padding">
            <div class="row">
                <div class="input-field col m5 s12">
                    Date
                    <input type="text" class="datepicker" name="date" id="dateForm" placeholder="aaaa-mm-jj" value="<?= (!isset($_POST['date']) ? date('Y-m-d') : $_POST['date']) ?>" required><br>
                </div>
                <div class="input-field col m5 s12 offset-m2">
                    Période de la Journée
                    <select name="periode" id="periode" class="">
                        <option value="M" <?= (!isset($_POST['periode']) ? '' : ($_POST['periode'] == 'M') ? 'selected' : '') ?>>Matin</option>
                        <option value="A"<?= (!isset($_POST['periode']) ? '' : ($_POST['periode'] == 'A') ? 'selected' : '') ?>>Après Midi</option>
                        <option value="S" <?= (!isset($_POST['periode']) ? '' : ($_POST['periode'] == 'S') ? 'selected' : '') ?>>Soir</option>
                    </select><br>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m5 s12">
                    Site
                    <select name="site" id="site" class="">
                        <?php
                            foreach ($allSite as $site) {
                                echo '<option value="'. $site->getSitNum() .'" '.(!isset($_POST['site']) ? '' : ($_POST['site'] == $site->getSitNum()) ? 'selected' : '').' >'. $site->getSitNom() .'</option>';
                        }
                        ?>
                    </select><br>
                </div>
                <div class="input-field col m5 s12 offset-m2">
                    Embarcation
                    <select name="embarcation" id="embarcation" class="">
                        <?php
                            foreach ($allEmbarcation as $emb) {
                                echo '<option value="'. $emb->getEmbNum() .'" '.(!isset($_POST['site']) ? '' : ($_POST['site'] == $emb->getEmbNum()) ? 'selected' : '').'>'. $emb->getEmbNom() .'</option>';
                        }
                        ?>
                    </select><br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-field col m5 s12">
                    Directeur de Plongée
                    <select name="directeur" id="directeur" class="">
                        <?php
                            foreach ($allDirecteur as $directeur) {
                                echo '<option value="'. $directeur->getPerNum() .'" >'. $directeur->getPerNom() .' '. $directeur->getPerPrenom() .'</option>';
                        }
                        ?>
                    </select> <br>
                </div>
                <div class="input-field col m5 s12 offset-m2">
                    Sécurité de Surface
                    <select name="securite" id="securite" class="">
                        <?php
                            foreach ($allSecurite as $securite) {
                                echo '<option value="'. $securite->getPerNum() .'" >'. $securite->getPerNom() .' '. $securite->getPerPrenom() .'</option>';
                        }
                        ?>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6 s12 offset-m3 center">
                    Effectif Bateau
                    <input type="text" name="effectifB" id="effectifB" value="<?= (!isset($_POST['effectifB']) ? '' : $_POST['effectifB']) ?>" required>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light blue col s12 margin-bottom margin-top"  name="submitPLO" id="submitPLO">AJOUTER PLONGEE</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="../../public/assets/js/datePicker.js"></script>

