<section>
    <h3 class="center-align">Plongée du <?php echo $plongee[0]->getPloDate().($plongee[0]->getPloMatMidSoi() == 'M' ? ' Matin' : ' Après-midi') ?></h3>
    <nav>
        <div class="nav-wrapper #0d47a1 blue darken-4">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#">Site</a></li>
                <li><a href="#">Plongeurs</a></li>
                <li><a href="&plo_date=<?= $plongee[0]->getPloDate() ?>&plo_mat_mid_soi=<?= $plongee[0]->getPloMatMidSoi() ?>&page=palanquee">Palanquées</a></li>
                <li><a href="#">Bateaux</a></li>
            </ul>
        </div>
    </nav>
    <div class="white rounded z-depth-4 margin-bottom rounded">
        <div class="container">

        </div>
    </div>
</section>