<?php $this->_title = 'Sub\'Alligator | Plongée'; ?>

<section class="white z-depth-4 rounded center">
    <div class="container">
        <h3>Liste des Aptitudes</h3>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="search">
                        <label for="autocomplete-input">Recherchez avec mot clé...</label>
                    </div>
                </div>
            </div>
        </div>
        <table class="striped">
            <thead>
                <tr>
                    <th class="center">Code</th>
                    <th class="center">Libelle</th>
                    <th class="center">Gestion</th>
                </tr>
            </thead>

            <tbody>
            <?php foreach($allAptitudes as $aptitude): ?>
            <tr>
                <td class="center"><?= $aptitude->getAptCode() ?></td>
                <td class="center"><?= $aptitude->getAptLibelle() ?></td>
                <td class="center">
                    <a href="aptitude/edit/&apt_code=<?= $aptitude->getAptCode() ?>" class="waves-effect waves-light btn yellow accent-4 tooltipped" data-position="top" data-tooltip="Détails de la plongée">
                        <i class="material-icons white-text">remove_red_eye</i>
                    </a>
                </td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue modal-trigger pulse" href="#ajouter">
                <i class="large material-icons">add</i>
            </a>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $('input.search').autocomplete({
            data: {
                <?php
                    foreach($allAptitudes as $aptitude)
                        echo '"'.$aptitude->getAptLibelle().'" : null,';
                ?>
            },
        });
    });
</script>
