<?php $this->_title = 'Projet Plongée | Home'; ?>

<section class="container">
    <div class="center">
        <div class="row">
            <a href="plongeur" class="col xl4 m6 s12">
                <div class="card-panel teal hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPersonnes[0]['nb'] ?></h3>
                                <span>Personnes</span><br>
                                <span class="teal-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="plongeur" class="col xl4 m6 s12">
                <div class="card-panel pink darken-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPlongeurs[0]['nb'] ?></h3>
                                <span>Plongeurs</span><br>
                                <span class="pink-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="plongee" class="col xl4 m6 s12">
                <div class="card-panel deep-orange darken-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPlongees[0]['nb'] ?></h3>
                                <span>Plongées</span><br>
                                <span class="deep-orange-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">rowing</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="site" class="col m6 s12">
                <div class="card-panel deep-purple hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbSites[0]['nb'] ?></h3>
                                <span>Sites</span><br>
                                <span class="deep-purple-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right">landscape</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="aptitude" class="col xl6 s12">
                <div class="card-panel yellow accent-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbAptitudes[0]['nb'] ?></h3>
                                <span>Aptitudes</span><br>
                                <span class="yellow-text text-lighten-4">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right">star</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="white z-depth-1 col s12">
                <h3>Liste des plongées<small>Pas encore passées</small></h3>
                <div class="row">
                    <?php if(empty($allPlongeesFutures)): ?>
                    <p class="red lighten-4 red-text text-darken-4 center" id="form-error">
                        Aucune plongée à prévoir.
                    </p>
                    <?php else: ?>
                    <table class="striped">
                        <thead>
                        <tr>
                            <th class="center">Date</th>
                            <th class="center">Période</th>
                            <th class="center">Site</th>
                            <th class="center">Gestion</th>
                        </tr>
                        </thead>

                        <tbody>
                        <?php foreach($allPlongeesFutures as $plongee): ?>
                        <tr>
                            <td class="center"><?= $plongee->getPloDate() ?></td>
                            <td class="center"><?= $plongee->getPloMatMidSoi() ?></td>
                            <td class="center"><?= $plongee->getSite()[0]->getSitNom() ?></td>
                            <td class="center">
                                <a href="plongee/download/&plo_date=<?= $plongee->getPloDate() ?>&plo_mat_mid_soi=<?= $plongee->getPloMatMidSoi() ?>" class="btn green darken-1 waves-effect waves-light tooltipped" data-position="top" data-tooltip="Télécharger la fiche">
                                    <i class="material-icons white-text">file_download</i>
                                </a>
                                <a href="plongee/show/&plo_date=<?= $plongee->getPloDate() ?>&plo_mat_mid_soi=<?= $plongee->getPloMatMidSoi() ?>" class="waves-effect waves-light btn yellow accent-4 tooltipped" data-position="top" data-tooltip="Détails de la plongée">
                                    <i class="material-icons white-text">remove_red_eye</i>
                                </a>
                                <a href="plongee/delete/&plo_date=<?= $plongee->getPloDate() ?>&plo_mat_mid_soi=<?= $plongee->getPloMatMidSoi() ?>" class="btn red darken-4 waves-effect waves-light tooltipped" data-position="top" data-tooltip="Supprimer">
                                    <i class="material-icons white-text">delete</i>
                                </a>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</section>