<?php $this->_title = 'Sub\'Alligator | Home'; ?>

<section class="container">
    <div class="center">
        <div class="row">
            <a href="plongeur" class="col s6">
                <div class="card-panel teal hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPersonnes[0]['nb'] ?></h3>
                                <span>Personnes</span><br>
                                <span class="teal-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="plongeur" class="col s6">
                <div class="card-panel pink darken-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPlongeurs[0]['nb'] ?></h3>
                                <span>Plongeurs</span><br>
                                <span class="pink-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="plongee" class="col s6">
                <div class="card-panel deep-orange darken-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPlongees[0]['nb'] ?></h3>
                                <span>Plongées</span><br>
                                <span class="deep-orange-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">rowing</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="site" class="col s6">
                <div class="card-panel deep-purple hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbSites[0]['nb'] ?></h3>
                                <span>Sites</span><br>
                                <span class="deep-purple-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right">landscape</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </div>
    </div>
</section>