
<section class="container">
    <div class="center">
        <div class="row">
            <a href="?page=plongeur" class="col xl3 s6">
                <div class="card-panel teal hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPersonnes[0]['nb'] ?></h3>
                                <span>Plongeurs (total)</span><br>
                                <span class="teal-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="?page=plongeur" class="col xl3 s6">
                <div class="card-panel pink darken-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPlongeurs[0]['nb'] ?></h3>
                                <span>Plongeurs (actifs)</span><br>
                                <span class="pink-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="?page=plongee" class="col xl3 s6">
                <div class="card-panel deep-orange darken-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPlongees[0]['nb'] ?></h3>
                                <span>Plongées</span><br>
                                <span class="deep-orange-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="?page=site" class="col xl3 s6">
                <div class="card-panel deep-purple hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbSites[0]['nb'] ?></h3>
                                <span>Sites</span><br>
                                <span class="deep-purple-text text-lighten-3">Plus... | Cliquez</span>
                            </td>
                            <td>
                                <i class="material-icons large right">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </div>
    </div>
</section>