<div class="container">
    <div class="row">
        <div class="col s4 margin-bottom">
            <h5 class="white-text">Informations</h5>
            <ul>
                <li><a class="grey-text text-lighten-3">Projet 2A PHP </a></li>
                <li>Département informatique</li>
                <li><a class="grey-text text-lighten-3">IUT Grand Ouest Normandie</a></li>
            </ul>
        </div>
        <div class="col s4 margin-bottom">
            <h5 class="white-text">Etudiants (groupe 16)</h5>
            <ul>
                <li><a class="grey-text text-lighten-3">CARRE Quentin</a></li>
                <li><a class="grey-text text-lighten-3">LECHASLES Quentin</a></li>
                <li><a class="grey-text text-lighten-3">LINOT Théa</a></li>
                <li><a class="grey-text text-lighten-3">MOREAU Baptiste</a></li>
            </ul>
        </div>
        <div class="col s4 center">
            <img src="/public/media/unicaen.svg" alt="Logo unicaen" height="120" class="margin-top">
        </div>
    </div>
</div>
<div class="footer-copyright grey darken-4 z-depth-3">
    <div class="container grey-text">
        © 2019 Projet Plongée
        <a class="right grey-text" href="https://github.com/QuentinLCS/ProjetPlongee2A">En savoir plus...</a>
    </div>
</div>