<div class="container">
    <div class="row">
        <div class="col s12 margin-bottom center">
            <h5 class="white-text">Etudiants (groupe 16)</h5>
            <ul>
                <li><a class="grey-text text-lighten-3">CARRE Quentin</a></li>
                <li><a class="grey-text text-lighten-3">LECHASLES Quentin</a></li>
                <li><a class="grey-text text-lighten-3">LINOT Théa</a></li>
                <li><a class="grey-text text-lighten-3">MOREAU Baptiste</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright grey darken-4 z-depth-3">
    <div class="container grey-text">
        © 2019 Projet Plongée
        <a class="right grey-text" href="https://github.com/QuentinLCS/ProjetPlongee2A">En savoir plus...</a>
    </div>
</div>