<nav class="white">
    <div class="nav-wrapper">
        <a href="<?= URL ?>" class="brand-logo blue-text center">Sub'Alligator</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons blue-text">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="blue" href="/plongeur">Plongeurs</a></li>
            <li><a class="blue" href="/plongee">Plongées</a></li>
            <li><a class="blue" href="/site">Sites</a></li>
            <li><a class="blue" href="/aptitude">Aptitudes</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile">
    <li><a href="/plongeur">Plongeurs</a></li>
    <li><a href="/plongee">Plongées</a></li>
    <li><a href="/site">Sites</a></li>
    <li><a href="/aptitude">Aptitudes</a></li>
</ul>