<nav class="white">
    <div class="nav-wrapper">
        <a href="?page=home" class="brand-logo blue-text center">Sub'Alligator</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons blue-text">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="blue" href="?page=plongeur">Plongeurs</a></li>
            <li><a class="blue" href="?page=plongee">Plongées</a></li>
            <li><a class="blue" href="?page=site">Sites</a></li>
            <li><a class="blue" href="?page=aptitude">Aptitudes</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile">
    <li><a href="?page=plongeur">Plongeurs</a></li>
    <li><a href="?page=plongee">Plongées</a></li>
    <li><a href="?page=site">Sites</a></li>
    <li><a href="?page=aptitude">Aptitudes</a></li>
</ul>