<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Palanquée</title>
</head>
<body>
<form name="newPlongee" action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Nouvelle Palanquée</legend>
        <label for="heureD">Heure de Départ : </label><input type="time" name="heureD" id="heureD" required><br>
        <label for="heureA">Heure de Retour : </label><input type="time" name="heureA" id="heureA" required><br><br>
        <label for="tempsP">Temps Prévu : </label><input type="time" name="tempsP" id="tempsP" required><br>
        <label for="tempsR">Temps Réalisé : </label><input type="time" name="tempsR" id="tempsR" required><br><br>
        <label for="profondeurP">Profondeur Prévue : </label><input type="text" name="profondeurP" id="profondeurP" required><br>
        <label for="profondeurR">Profondeur Réalisée : </label><input type="text" name="profondeurR" id="profondeurR" required><br><br>
        <label>Plongeurs</label><br><br>

        <input type="submit" name="EN" id="EN" value="Ajouter">
    </fieldset>
</form>

</body>
</html>