<!DOCTYPE html>
<html lang="fr">
    <head>
        <?php include_once('global/head.html'); ?>
        <title><?= $title ?></title>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <?php include_once('global/navbar.html'); ?>
        </header>
        <main class="container margin-top">
            <?= $content ?>
        </main>
        <footer class="page-footer" style="background-color: #f5f5f5">
            <?php include_once('global/footer.html'); ?>
        </footer>
        <script type="text/javascript" src="/public/assets/js/main.js"></script>
    </body>
</html>