
<section class="container">
    <div class="center">
        <div class="row">
            <a href="?page=plongeur" class="col l3 s6">
                <div class="card-panel teal hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPlongeurs[0]['nb'] ?></h3>
                                <span>Plongeurs</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="?page=palanquee" class="col l3 s6">
                <div class="card-panel pink darken-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPalanquees[0]['nb'] ?></h3>
                                <span>Palanquées</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="?page=plongee" class="col l3 s6">
                <div class="card-panel deep-orange darken-4 hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbPlongees[0]['nb'] ?></h3>
                                <span>Plongées</span>
                            </td>
                            <td>
                                <i class="material-icons large right white-text">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
            <a href="?page=aptitudes" class="col l3 s6">
                <div class="card-panel deep-purple hoverable">
                    <table class="white-text">
                        <tbody>
                        <tr class="borderless">
                            <td>
                                <h3><?php echo $nbAptitudes[0]['nb'] ?></h3>
                                <span>Aptitudes</span>
                            </td>
                            <td>
                                <i class="material-icons large right">person_add</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </div>
    </div>
</section>