<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Plongée</title>
</head>
<body>
<form name="newPlongee" action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Nouvelle Plongée</legend>
        <label for="date">Date : </label><input name="date" id="date" type="date"><br>
        <label for="periode">Période de la Journée : </label>
        <select name="periode" id="periode">
            <option value="matin">Matin</option>
            <option value="apres_midi">Après Midi</option>
            <option value="soir">Soir</option>
        </select><br>
        <label for="site"></label>Site : <input name="site" id="site" type="text"><br>
        <label for="embarcation">Embarcation :</label>
        <select name="embarcation" id="embarcation">
            <option value="Beclem">Beclem</option>
            <option value="Estelenn">Estelenn</option>
        </select><br>
        <label for="effectifP">Effectif de Plongeur : </label><input type="text" name="effectifP" id="effectifP"><br>
        <label for="effectifB">Effectif sur Bateau : </label><input type="text" name="effectifB" id="effectifB"><br>
        <label for="directeur">Directeur de Plongée : </label><input type="text" name="directeur" id="directeur"><br>
        <label for="securite">Sécurité de Surface : </label><input type="text" name="securite" id="securite"><br>
    </fieldset>
</form>

</body>
</html>